.lnb_wrapperVolume{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0 15px;
    max-width: 150px;
    width: 100%;
    padding: 0 5px;
    border-radius: 25px;
    background: rgb(43 211 188 / 33%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.lnb_iconPrac {
    width: 18px;
    font-size: 28px;
    text-align: center;
}
.lnb_wrapperVolume input {
    max-width: 400px;
    width: 100%;
    margin: 0 10px;
    appearance: none;
    height: 2px;
    border-radius: 5px;
    background-color: #ededed;
    box-shadow: 0 0 0 2px #ededed;
    cursor: pointer;
}
.lnb_wrapperVolume input::-moz-range-progress{
    height: 2px;
    border-radius: 50%;
    background-color: #1854f8;
}
.lnb_wrapperVolume input::-webkit-slider-progress{
    height: 2px;
    border-radius: 50%;
    background-color: #1854f8;
}
.lnb_wrapperVolume input::-webkit-slider-thumb {
    appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #1854f8;
}
.lnb_wrapperVolume .slide-value {
    font-size: 14px;
    width: 19px;
    color: rgb(225 225 229);
    font-weight: 100;
    text-align: right;
}